@{
    ViewData["Title"] = "Check Email";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <div class="body text-light">
            <div>
                Password reset link Has been sent to your Email. <br />Please Check Your inbox :)
                <a href="https://mail.google.com/mail/u/0/#inbox">Click Here</a>
            </div>
        </div>
    </div>
</div>


