@model ResetPasswordViewMode
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-action="ResetPassword">
            <div asp-validation-summary="All" class="text-danger mb-3"></div>
            <input asp-for="Email" type="hidden" />
            <input asp-for="Token" type="hidden" />
            <input asp-for="@Model.Password" class="text" type="password" placeholder="Password" required="" />
            <input asp-for="@Model.ConfirmPassword" class="text w3lpass" type="password" placeholder="Confirm Password" required="" />

            <input type="submit" value="Reset Password">
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
