
@{
    ViewData["Title"] = "Update";
}

<div class="row">
    <div class="cal-6">
        <form asp-action="Update" asp-controller="Category">
            <partial name="PartialViews/CreateUpdatePartialView" />
            <input type="hidden" name="Id" value="@Model.Id" />
            <input type="submit" value="Update" class="btn btn-success" />
        </form>
    </div>
</div>