@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@
<html>
	<head>
		<style>
			.body {
				background: rgb(248, 192, 192);
			}
			.div{
				height: 100vh;
				width: 100%;
				top:0;
				bottom:0;
			}
		</style>
	</head>
	<body class="body">
		<div class="div">
			<img src="~/Files/Images/pngegg (5).png" />
			<img src="~/Files/Images/pngegg (3).png" />
			<a class="btn btn-primary" asp-area="" asp-controller="Product" asp-action="Index">START YOUR JOURNEY</a>
		</div>
	</body>
</html>