@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model LogInViewModel
<html>
	<head>
		<style>
			.special{
			background: rgb(248, 192, 192);
			}
		</style>
	</head>
	<body class="special">
		<div class="form-container sign-in-container ">
			<form asp-action="LogIn">

				<input asp-for="@Model.Email" class="text email" placeholder="Email" required="" />
				<span asp-validation-for="@Model.Email" class="text-danger"></span>

				<input asp-for="@Model.Password" class="text" type="password" placeholder="Password" required="" />
				<span asp-validation-for="@Model.Password" class="text-danger"></span>


				<button type="submit">Log In</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Welcome Back!</h1>
					<p>To keep connected with us please login with your personal info</p>
					<button class="ghost" id="signIn">Sign In</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Hello, Friend!</h1>
					<p>Enter your personal details and start journey with us</p>
					<button class="ghost" id="signUp">Sign Up</button>
				</div>
			</div>
		</div>
	</body>
</html>