    @model ProductViewModel
@{
    ViewData["Title"] = "AddProduct";
}



<div class="row mb-3">
    <div class="col-8">
        <form asp-action="AddProduct" asp-controller="Product" enctype="multipart/form-data">
            <partial name="PartialViews/AddUpdatePartialView" />
            <div class="form-group">
                <label asp-for="@Model.Image" class="form-label mt-4"></label>
                <input type="file" asp-for="@Model.Image" class="form-control">
                <span asp-validation-for="@Model.Image" class="text-danger"></span>

            </div>
            <br />
            <input type="Submit" value="Add" class="btn btn-primary" /> |
            <a asp-action="Index" class="btn btn-light">Back To List</a>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}